.ant-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: space-evenly;
}
.ant-table-pagination.ant-pagination {
  // display: flex;
  // justify-content: center;
  margin-top: 6%;
}
.ant-list-items {
  & > div {
    margin: 2rem 0;
    width: 100% !important;
    img {
      width: 50%;
    }
    position: relative;
    text-align: center;
    background: var(--half-white) 0 0 no-repeat padding-box;
    box-shadow: 0 2px 20px var(--black-seventh);
    border-radius: 15px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    border: 1px solid blue;
  }
}
.ant-card-meta-detail {
  font-size: 18px;
  font-weight: 600;
}
.ant-card-meta-description {
  font-size: 18px;
  font-weight: 600;
}
.ant-pagination {
  float: unset !important;
  text-align: center;
  .ant-pagination-item-active {
    background: #f06e38;
    border-color: #f06e38;
    border-radius: 50%;
  }
  .ant-pagination-item a {
    color: var(--black-fourth);
    padding-top: 1px;
    padding-bottom: 1px;
    &:hover {
      color: #f06e38;
    }
  }
  .ant-pagination-item-active a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .ant-pagination-prev {
    margin-right: 1rem !important;
  }
  .ant-pagination-next {
    margin-left: 1rem !important;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background: white !important;
    border-radius: 50%;
    box-shadow: 0 0.6px 2px 0.25px;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: #000000a6;
  }
  .ant-pagination-item:not(.ant-pagination-item-active) {
    border-radius: 50%;
  }
  .anticon {
    vertical-align: -1px;
    color: #bfbfbf;
  }
}
